<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing" thread-count="2">
    <listeners>

    </listeners>
    <test name="Demo Automation">
        <classes>
            <class name="createAccount.ClickOnCreateAccountButton"/>
            <class name="enterUserNameTestCases.EnterUserNameAndClickNext"/>
        </classes>

    </test>

</suite>